# === Tipo de servidor ===
EULA=TRUE
TYPE=NEOFORGE
VERSION=26.1.2
NEOFORGE_VERSION=26.1.2.100

# === Recursos ===
MEMORY=4G

# === Configuración del servidor ===
DIFFICULTY=normal
MAX_PLAYERS=10
MOTD=Servidor SV
ONLINE_MODE=TRUE
