# === Tipo de servidor ===
EULA=TRUE
TYPE=AUTO_CURSEFORGE

# CurseForge API Key (obtener en: https://console.curseforge.com/#/api-keys)
CF_API_KEY=PONER_TU_API_KEY_AQUI

# Modpack incluido en la imagen
CF_MODPACK_ZIP=/modpack.zip

# === Recursos ===
MEMORY=4G

# === Configuración del servidor ===
DIFFICULTY=normal
MAX_PLAYERS=10
MOTD=Servidor SV
ONLINE_MODE=TRUE
